*{
    margin: 0;
    padding: 0;
}

.cartao{
    margin: 10px;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 10px;
}

footer{
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
} 

footer p {
  text-align:center;
  font-size: 0.6rem;
  margin-top:0.5rem;
}

body {
  background-color: rgb(251, 250, 249);
  font-family: Bai Jamjuree;
}

#container {

}

#container {
    display: flex;
}

.cartao{
  margin: 1rem 1rem;
}

<div class="cartao conteudo resposta">
   <p>O que é JavaScript?</p>
 </div> 
 <div class="cartao__conteudo__resposta">
   <p>O Javascript é uma linguagem de programação</p>
 </div
 </div>

 .cartao {
   margin: 1rem 1rem;
   background-color: aqua;
 }

 .cartao {
    margin: 1rem 1rem;
    background-color: rgb(244, 148, 235);
    height: 20rem;
    flex-grow: 1;
 }
